/out/
/release/buildroot/buildroot-2018.08/dl/
/release/debian9/rootfs.ext4
/release/debian9/*.tar.gz
/release/ubuntu18/*.tar.gz
/release/ubuntu20/*.tar.gz
/build/toolchain/*.tar.*
/brandy/brandy-2.0/tools/toolchain/*.tar.*

/kernel/linux-4.9/output/
/kernel/linux-4.9/vmlinux
/kernel/linux-4.9/vmlinux.o
/kernel/linux-4.9/.tmp_vmlinux*
*.o
*.ko
*.cmd

/release/debian9/debian9/
